<template lang="jade">
  #pagination
    span всего контактов: {{totalItems}}

    ul
      li(v-for="n in numPages")
        button(
          @click="setPage(n)",
          :class="{ active: n === currentPage }"
          ) {{ n }}

</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "pagination",
  props: {
    totalItems: {
      type: Number,
      default: 0
    }
  },
  computed: {
    numPages() {
      return Math.ceil(this.totalItems / this.pageSize);
    },
    itemsCount() {
      return this.$store.state.records.length;
    },
    ...mapGetters({
      currentPage: 'getCurrentPage',
      pageSize: 'getPageSize'
    })
  },
  methods: {
    ...mapActions([
      'setPage'
    ])
  }
}
</script>

<style lang="stylus" scoped>
  @import './paignation.styl'
</style>
