#pagination
  ul
    list-style-type none
    padding 0

    li
      padding 2px
      display inline-block

  button
    padding 4px 8px
    border none
    border-radius 3px
    line-height 1.25em
    font-size .9em
    cursor pointer

    &.active
      background #949cfa
      color #fff
