@import './normalize.styl'

*
  box-sizing border-box

html,
body
  margin 0

body
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50

.container
  margin 0 auto
  width 50%
  max-width 750px
  min-width 350px
  border 1px solid rgba(107,89,107,1)
  border-radius 4px
  -webkit-box-shadow 0px 0px 10px 0px rgba(107,89,107,1)
  -moz-box-shadow 0px 0px 10px 0px rgba(107,89,107,1)
  box-shadow 0px 0px 10px 0px rgba(107,89,107,1)

  & + *
    margin-top 15px

button
  height 24px
  padding 3px 5px
  outline none
  display inline-block
  cursor pointer

  &:disabled
    opacity 0.6
    pointer-events none

  &._del
    padding 0
    width 30px
    height 30px
    border none
    background url('../assets/icon_del.svg') no-repeat
    background-size cover
