#add-contact-form
  padding 10px 20px

  .add-contact-form

    fieldset
      text-align left
      padding 5px 10px
      border 0px
      outline none

    label
      font-weight 600

    input
      padding 2px 5px
      width 100%
      font-size 1em
      line-height 1.25em
      border 1px solid #757
      border-radius 2px
      display block

    .form-footer
      margin-top 15px

      button
        height initial
        font-size .8em
        color #fff
        border 1px solid green
        border-radius 12px
        background-color #1faf1f

        &:hover
          background-color lightness(#1faf1f, 60%)

        &:active
          box-shadow inset 2px 2px 6px 0 (rgba(0,0,0,.5))
