<template lang="jade">
  #add-contact-form

    form.add-contact-form(@submit.prevent="onSubmit")
      fieldset
        label Имя:
        input(type="text" v-model="name")

      fieldset
        label Номер телефона:
        input(type="text" v-model="phoneNumber")

      .form-footer
        button(type="submit", :disabled="isDisabled") Добавить контакт

</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: "add-contact-form",
  data: () => ({
    name: null,
    phoneNumber: null
  }),
  computed: {
    isDisabled () {
      return !(this.name && this.phoneNumber);
    }
  },
  methods: {
    onSubmit(data) {
      if (this.name && this.phoneNumber) {
        this.add({ name: this.name, phoneNumber: this.phoneNumber });

        this.name = null;
        this.phoneNumber = null;
      }
    },
    ...mapActions({
      add: 'addNewRecord'
    })
  }
}
</script>

<style lang="stylus" scoped>
  @import './add-contact-form.styl'
</style>
