<template lang="jade">

    ul#contacts-list.contacts-list
      li.contacts-list__list-item.list-item(
        v-for="record in recordsRange"
        )
        span.list-item__line
          span.list-item__line-label Имя:
          span.list-item__line-text  {{record.name}}
        br
        span.list-item__line
          span.list-item__line-label Номер телефона:
          span.list-item__line-text  {{record.phoneNumber}}

        button.list-item__button.button._del(
          @click="delItem(record.id)"
          )

</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "contacts-list",
  data: () => ({
    currentPage: this.page
  }),
  computed: {
    ...mapGetters({
      records: 'getAllRecords',
      recordsRange: 'getRecordsRange'
    })
  },
  methods: {
    ...mapActions({
      delItem: 'deleteRecordById'
    })
  },

}
</script>

<style lang="stylus" scoped>
  @import './contacts-list.styl'
</style>
