#contacts-list
  margin 0
  padding 10px 20px

  list-style-type none
  text-align left

  .list-item
    position relative
    padding 8px 50px 8px 30px
    border 1px solid #757
    border-radius 4px

    & + *
      margin-top 10px

    &__line
      display inline-block

      &-label
        margin-right 3px
        font-weight 600
        vertical-align middle
        display inline-block

      &-text
        max-width 200px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        vertical-align middle
        display inline-block

    &__button
      position absolute
      margin auto 0
      right 10px
      top 50%
      transform translateY(-50%)
      transition opacity .5s
      opacity 0
      visibility hidden

    &:hover .button
      opacity 1
      visibility visible
