<template lang="jade">
  #app

    h1 {{ msg }}

    section.container
      add-contact-form

    section.container
      contacts-list

      pagination(
        :totalItems="itemsCount",
        )

</template>

<script>
import contactsList from './components/contacts-list/contacts-list.vue';
import addContactForm from './components/add-contact-form/add-contact-form.vue';
import pagination from './components/pagination/pagination.vue';

import { mapActions } from 'vuex';

export default {
  name: 'app',
  data () {
    return {
      msg: 'Телефонная книга',
    }
  },
  components: {
    contactsList,
    addContactForm,
    pagination
  },
  computed: {
    itemsCount() {
      return this.$store.state.records.length;
    },
    pageNum() {
      return this.$store.state.page;
    }
  },
  methods: {
    ...mapActions([
      'loadData'
    ])
  },
  created() {
    this.loadData();
  }

}
</script>

<style lang="stylus" scoped>
h1, h2
  font-weight normal
</style>
